<style>
  .btn-search{
    background-color: #fe424d;
    color:#fff;
    border-radius: 25px;
    padding:0 1rem 0 1rem ;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color:#fff;
    border-radius: 25px;
    padding:0 1rem 0 1rem ;
  }
  .btn-search i{
    display: inline;
  }
  .search-inp{
    border-radius: 25px;
    padding:0.5rem 3rem 0.5rem 3rem;
  }
</style>


<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top" > <!--yaha lg ka matlab navbar expanded dikhega large  sized screens par,agar medium par bhi expanded chahiye to -md  laga sakte hai-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/listings">Explore</a>
          <a class="nav-link " href="/listings/new">Add new places</a>
          <a class="nav-link " href="/about">About</a>
        </div>
       <div class="navabar-nav ms-auto">
        <form class="d-flex navbar-nav ms-auto" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
       </div>
        <div class="navbar-nav">
          <% if(!currUser){ %>
            <a class="nav-link "  href="/signup">Sigh Up</a><!--yaha active class aur add karne se sara anchors dark ho jayenge par agar keval hover par hi dark rakhna hai to -->
          <a class="nav-link " href="/login">Log In</a>
          <% } %>
          <% if(currUser){ %>
          <a class="nav-link " href="/logout">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>