<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top" > <!--yaha lg ka matlab navbar expanded dikhega large  sized screens par,agar medium par bhi expanded chahiye to -md  laga sakte hai-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="/">Home</a><!--yaha active class aur add karne se sara anchors dark ho jayenge par agar keval hover par hi dark rakhna hai to -->
          <a class="nav-link " href="/listings">All Listings</a>
          <a class="nav-link " href="/listings/new">Add New Listing</a>
        </div>
      </div>
    </div>
  </nav>