<%- layout("/layouts/boilerplate") %>
<h4>WanderLust is a website created for the people who want to make reach of their products and services among the citizens worldwide . </h4><br>
<br>
<h3>How to use it ?</h3><br><br>
<h3>firstly you nee to signup/login in your account.</h3><br><br>
<h3>then you can click on "Explore" for exploring the places of your need.</h3><br><br>
<h3>you can also add new places by clicking on "Add new places"</h3><br><br>
<h3>you can also give rating for the places you have visited or can check the rating of the place you want to visit.</h3><br>
<h3>you can also give comment for the places.</h3>